.section{
    width: 80vw;
    height: 100%;
    padding: 100px 50px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    color: var(--color)
}

.image{
    width: 320px;
    height: 200px;
    outline: 2px solid var(--outline);
}

.name{
    margin-left: 20px;
}

.dataContainer{
    height: 100%;
    width: 50vw;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.subDataContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    align-self: center;
    justify-content: center;
}

.borders{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.borderCountries{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.h4border{
    width:fit-content;
    margin-left: 20px;
    text-align: center;
}

.dataLine{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
}

.p{
    margin-left: 5px;
}

@media screen and (max-device-width: 600px){
    .section{
        width: 80vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .image{
        width: 100%;
        height: 450px;
        outline: 2px solid var(--outline);
    }

    .name{
        margin-left: 0px;
        font-size: 40px
    }

    .dataContainer{
        height: 100%;
        width: 50vw;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .subDataContainer{
        display: grid;
        grid-template-columns: repeat(1, 30rem);
        align-self: center;
        justify-content: center;
    }
    
    .dataLine{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 35px;
        width: 70vw;
        margin-bottom: 10px;
    }

    .h4{
        font-size: 30px;
    }

    .p{
        font-size: 30px;
    }

    .borders{
        width: 70vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .h4border{
        font-size: 30px;
        text-align: center;
    }

    .borderCountries{
        display: grid;
        grid-template-columns: repeat(3, 13rem);
        gap: 70px 15px;
    }
}