.button {
    margin-left: 10px;
    border-radius: 3px;
    padding: 5px 15px;
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background-color);
    outline: 2px solid var(--outline);
    border: 0px;
    font-size: 13px;
}

@media screen and (max-device-width: 600px) and (max-width: 600px){
    .button {
        margin-left: 10px;
        border-radius: 3px;
        padding: 30px 45px;
        border: 0px;
        font-size: 30px;
    }
}