.container {
    width: 95vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 18rem);
    gap: 10px;
    align-self: center;
    justify-content: center;
}

.containerSearcher {
    width: 80vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon{
    color: var(--color)
}

.input{
    padding: 5px;
    width: 300px;
    border: 0px;
    font-size: 15px;
    border-radius: 10px;
    background-color: var(--input-background-color);
    color: var(--color);
}

.input::placeholder{
    color: var(--color);
}

.input:focus{
    outline: none;
}

.select{
    border: 0px;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    list-style: none;
    box-shadow: 0px 0px 35px -17px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 35px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 35px -17px rgba(0,0,0,0.75);
    background-color: var(--input-background-color);
    color: var(--color);
}

.select::placeholder{
    opacity: .1;
}

.select option{
    gap: 10px;
    border: 0px;
}

.select:focus{
    outline: none;
}

.searcher{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--input-background-color);
}

.svg_icon {
    width: 1.5em;
    height: 1.5em;
  }
  
  .svg_icon path,
  .svg_icon polygon,
  .svg_icon rect {
    fill: black;
  }
  
  .svg_icon circle {
    stroke: black;
    stroke-width: 1;
  }

@media screen and (max-device-width: 1200px){
    .container{
        grid-template-columns: repeat(3, 18rem);
    }
}

@media screen and (max-device-width: 900px){
    .container{
        grid-template-columns: repeat(2, 18rem);
    }
}

@media screen and (max-device-width: 600px){
    .container{
        grid-template-columns: repeat(1, 85%);
    }

    .containerSearcher {
        width: 100vw;
        height: 300px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        padding: 0px 50px;
        margin-bottom: 50px;
    }

    .searcher{
        width: 90vw;
        height: 100px;
        color: white;
    }

    .input{
        width: 100%;
        height: 100%;
        font-size: 30px;
    }

    .icon{
        height: 40px;
        width: 40px;
        margin-right: 40px;
        margin-left: 40px;
    }

    .select{
        width: 60vw;
        height: 100px;
        font-size: 30px;
        padding: 0px 10px;
    }
}