.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 75vw;
    height: 100px;
    display: flex;
    align-items: center;
}

.link {
    border-radius: 5px;
    padding: 10px 30px;
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background-color);
    outline: 2px solid var(--outline);
}

.icon {
    margin-right: 5px;
}

@media screen and (max-device-width: 600px){

    .header{
        width: 100vw;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 100px;
    }

    .link {
        margin-top: 50px;
        height: 50px;
        width: 200px;
        border-radius: 10px;
        padding: 10px 30px;
        font-size: 30px;
    }

    .icon {
        margin-right: 15px;
    }
}
